<?xml version="1.0"?>
<robot name="SG_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- Import URDF xacro model -->
	<xacro:include filename="$(find sgrobot)/description/description_phantomx.urdf.xacro" />

	<link name="base_footprint">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.001 0.001 0.001" />
			</geometry>
		</visual>
	</link>
	<xacro:phantomx_reactor_wrist prefix="" parent="base_footprint">
		<origin xyz="0 0 0" rpy="0 0 0" />
	</xacro:phantomx_reactor_wrist>
	

	<!--<gazebo>   
	     <plugin name="gazebo_ros_controller_manager" 	filename="libgazebo_ros_controller_manager.so">
	          <alwaysOn>true</alwaysOn>
	          <updateRate>1000.0</updateRate>
	          <robotNamespace>SG_robot</robotNamespace>
	     </plugin>
	</gazebo>-->
 <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/SG_robot</robotNamespace>
      <!--<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>-->
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>


<!-- <transmission type="pr2_mechanism_model/SimpleTransmission" name="shoulder_yaw_trans">
    <actuator name="shoulder_yaw_motor" />
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <joint name="shoulder_yaw_joint" />
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1.0</mechanicalReduction>
    <motorTorqueConstant>1.0</motorTorqueConstant>
 </transmission>  -->     
    <transmission name="shoulder_yaw_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="shoulder_yaw_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="shoulder_yaw_motor">
            <hardwareInterface>EffortJointInterface</hardwareInterface>
            <mechanicalReduction>150</mechanicalReduction>
        </actuator>
    </transmission>       
 
 <!--<transmission type="pr2_mechanism_model/SimpleTransmission" name="shoulder_pitch_trans">
    <actuator name="shoulder_pitch_motor" />
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <joint name="shoulder_pitch_joint" />
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1.0</mechanicalReduction>
    <motorTorqueConstant>1.0</motorTorqueConstant>
 </transmission>-->
    <transmission name="shoulder_pitch_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="shoulder_pitch_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="shoulder_pitch_motor">
            <hardwareInterface>EffortJointInterface</hardwareInterface>
            <mechanicalReduction>100</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="elbow_pitch_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="elbow_pitch_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="elbow_pitch_motor">
            <hardwareInterface>EffortJointInterface</hardwareInterface>
            <mechanicalReduction>100</mechanicalReduction>
        </actuator>
    </transmission>
 
 <!--<transmission type="pr2_mechanism_model/SimpleTransmission" name="elbow_pitch_trans">
    <actuator name="elbow_pitch_motor" />
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <joint name="elbow_pitch_joint" />
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1.0</mechanicalReduction>
    <motorTorqueConstant>1.0</motorTorqueConstant>
 </transmission>-->
    <transmission name="wrist_pitch_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="wrist_pitch_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="wrist_pitch_motor">
            <hardwareInterface>EffortJointInterface</hardwareInterface>
            <mechanicalReduction>200</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="wrist_roll_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="wrist_roll_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="wrist_roll_motor">
            <hardwareInterface>EffortJointInterface</hardwareInterface>
            <mechanicalReduction>100</mechanicalReduction>
        </actuator>
    </transmission>

  <!--   <transmission name="gripper_revolute_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="gripper_right_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="gripper_right_motor">
            <hardwareInterface>EffortJointInterface</hardwareInterface>
            <mechanicalReduction>100</mechanicalReduction>
        </actuator>
    </transmission>

<transmission type="pr2_mechanism_model/SimpleTransmission" name="wrist_pitch_trans">
    <actuator name="wrist_pitch_motor" />
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <joint name="wrist_pitch_joint" />
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1.0</mechanicalReduction>
    <motorTorqueConstant>1.0</motorTorqueConstant>
 </transmission>

<transmission type="pr2_mechanism_model/SimpleTransmission" name="wrist_roll_trans">
    <actuator name="wrist_roll_motor" />
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <joint name="wrist_roll_joint" />
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1.0</mechanicalReduction>
    <motorTorqueConstant>1.0</motorTorqueConstant>
 </transmission>-->



</robot>
