<?xml version="1.0"?>

<launch>


  <!-- Launch Gazebo  -->
  <include file="$(find sgrobot)/launch/SG_robot_world.launch" />   

  <!-- ros_control seven dof arm launch file -->
  <include file="$(find sgrobot)/launch/SG_robot_gazebo_states.launch" />   

  <!-- ros_control position control dof arm launch file -->
  <!-- <include file="$(find sgrobot)/launch/SG_robot_gazebo_position.launch" />  -->

  <!-- ros_control trajectory control dof arm launch file -->
  <include file="$(find sgrobot)/launch/SG_robot_trajectory_controller.launch" />  


<!--it only makes sure that joint_state_publisher gathers the JointStates published on /move_group/fake_controller_joint_states and republishes them on /joint_states -->  
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>


  </node>


  <!-- moveit launch file -->
  <include file="$(find Moveit_ACS)/launch/moveit_planning_execution.launch" />    

</launch>

