<?xml version="1.0"?>
<robot name="SG_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- Import URDF xacro model -->
	<xacro:include filename="$(find sg_description)/urdf/sg_wrist.urdf.xacro" />

	<link name="world">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.001 0.001 0.001" />
			</geometry>
		</visual>
	</link>
	<xacro:phantomx_reactor_wrist prefix="" parent="world">
		<origin xyz="0 0 0" rpy="0 0 0" />
	</xacro:phantomx_reactor_wrist>
	
</robot>
